kind: BPPipeline
metadata:
  name: globalpipe
spec:
  retention_execution_count: 10
  stages:
  - approval: false
    continue_on_disapproval: false
    name: Deploy
    order: 1
    send_mail: true
    tasks:
    - application: app
      application_env: env
      application_job_template: lenskart
      job_code: null
      mark_success_upon_skip: false
      name: job_1
      on_failure_exit: true
      on_success_exit: false
      order: 1
      services: [$MIDDLEWARE_SERVICES]
      skip_task: false
      tag: generated
      task_run_condition: null
      task_type: DEPLOY
  - approval: false
    continue_on_disapproval: false
    name: Build & Deploy
    order: 2
    send_mail: true
    tasks:
    - application: app
      application_env: env
      application_job_template: lenskart
      job_code: null
      mark_success_upon_skip: false
      name: job_2
      on_failure_exit: true
      on_success_exit: false
      order: 2
      services: [$SERVICES]
      skip_task: false
      tag: generated
      task_run_condition: null
      task_type: BUILD
    - application: app
      application_env: env
      application_job_template: lenskart
      job_code: null
      mark_success_upon_skip: false
      name: job_2
      on_failure_exit: true
      on_success_exit: false
      order: 2
      services: [$SERVICES]
      skip_task: false
      tag: generated
      task_run_condition: null
      task_type: DEPLOY
  trigger_type: Manual
  type: GLOBAL_PIPELINE
  version: v2
version: api/v1